:root {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: bolder;
    color-scheme: dark;
    color: #222222;
    background: linear-gradient(rgb(56 , 131, 61),rgb(56 , 131, 61), rgb(255, 255, 255));
    box-sizing: border-box;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  a {
    font-weight: 500;
    color: #72cf26;
    color: #fdfdfd;
    text-decoration: inherit;
    justify-content: stretch;
  }
  a:hover {
    color: #0687FE;
  }
  
  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
  }
  

  .cookies {
    z-index: 100;
    max-width: 100vw;
    background-color: #222222;
    color: #ffffff;
    border-radius: 20px;
    position: fixed;
    bottom: 0;
  }

  .cookies p{
    padding: 10px;
  }

 .settingsBtn .cookiesBtn{
    padding: 20px;
    margin: 10px;

  }

  .cookiesBtn .settingsBtn{
    position: fixed;
    left: 10px;
    bottom: 10px;
  }

  .mySlides {
    display: none;
  }
  
  .hamburger {
    background-color: #222222;
    color: #ffffff;
    max-width: 100%;
    height: 100vh;
    position: fixed;
  }

  .hamburger img {
    max-width: 50%;
  }
 
  .menuBtn {
    position: absolute;
    right: 0;
  }

  
  .hidden {
    display: none;
  }
  
  .show {
    display: flex;
    position: absolute;
    right: 0;
  }
  
  nav {
    height: 30vw;
    background-color: #1a1a1a;
  }
    
  .nav ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .logo {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 120px;
    width: 140px;
    margin: auto;
    display: flex;
  }
  
  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  
  .logo.vanilla:hover {
    filter: drop-shadow(0 0 2em #f7df1eaa);
  }
  
  h1 {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 1.1;
    text-align: center;
  }

  h2{
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
  }
  
  h3 {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.1;
    text-align: center;
  }
  
  h4 {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    text-align: center;
  }
  
  .assortment {
    margin: 10vw;
    display: flex;
    flex-direction: column;
  }



  .contentWrapperOne img{
    max-width: 100vw;
  }



  .shop-logos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .email {
    text-align: center;
    padding: 1.5rem;
  }
  
  .subscribe {
    border-radius: 25px;
    background-image: linear-gradient(#fe0b0b, hsl(0, 77%, 72%));
    margin: 1.5rem;
    color: #222222;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
  }
  
  .subscribe:hover {
    background-color: #c90c2e;
    transition: 0.2s;
  }
  
  input {
    background-color: #dfdfdf;
    color: #222222;
    border-radius: 25px;
    min-height: 30px;
    min-width: 30px;
  }
  
  .social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 10vh;
  }
  
  .footer {
    position: static;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color: #fdfdfd;
    background: linear-gradient(rgb(255, 255, 255), rgb(56 , 131, 61));
  }

   footer img {
    position: static;
    background-color: #222222;
    bottom: 0;
    left: 0;
    padding: 2.5vh;
  } 

  .footer-links {
    margin: auto;
  }

  .footer-links li{ 
    align-items: flex-start;
    margin-top: 10px;
  }
  
  .slideShow {
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }

  .slideShow img{
    max-width: 80vw;
    border-radius: 70px;
  } 

  .noccoLogo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
  }
  
  .menulogo{
    bottom: 1;
    max-width: 50vh;
  }
  
  
  .card {
    padding: 2em;
  }
  
  .read-the-docs {
    color: #888;
  }
  
  button {
    border-radius: 0px;
    border: transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #00222222;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  
  button:hover {
    border-color: #646cff;
  }
  
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  
  @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
    a:hover {
      color: #747bff;
    }
    button {
      background-color: #f9f9f9;
    }
  }
  